/node_modules
/public/hot
/public/storage
/public/backend
/public/app-assets
/storage/*.key
/storage/logs
/storage/Scrap
/storage/json
/storage/framework
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log